# DB CONFIGS
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/catechism_management_system

# BFF AUTH CONFIGS
AUTH_SESSION_SECRET=
AUTH_SESSION_COOKIE_SECURE=false
AUTH_SESSION_COOKIE_SAMESITE=lax
AUTH_SESSION_COOKIE_MAX_AGE=2592000

# ADMIN DASHBOARD SPECIFIC CONFIGS
CMS_ADMIN_DASHBOARD_LOGTO_ENDPOINT=
CMS_ADMIN_DASHBOARD_LOGTO_APP_ID=
CMS_ADMIN_DASHBOARD_LOGTO_APP_SECRET=
CMS_ADMIN_DASHBOARD_LOGTO_REDIRECT_URI=http://localhost:8000/dashboard-api/auth/callback
CMS_ADMIN_DASHBOARD_FRONTEND_URL=http://localhost:3000
CMS_ADMIN_DASHBOARD_SESSION_COOKIE_NAME=cms_admin_dashboard
CMS_ADMIN_DASHBOARD_CORS_ORIGINS=http://localhost:3000
